html {
    background-color: #303f9f;
}

body {
    background-color: #ffffff;
}

footer.page-footer {
    padding-top: 0;
}

.c-badge {
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: #757575;
    right: 15px;
    box-sizing: border-box;
}

.u-new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

.u-badge-new {
    background-color: #ee6e73 !important;
}

.u-badge-assigned {
    background-color: #03a9f4 !important;
}

.u-badge-acknowledged {
    background-color: #4caf50 !important;
}

.u-modal-link {
    cursor: pointer;
    padding: 0.5em;
}

.firstcol {
    padding-left: 1em;
}

nav {
    margin-bottom: 1em;
}

.nav-wrapper,
.page-footer {
    padding-left: 1em;
    padding-right: 1em;
}
