html {
    position: relative;
    min-height: 100%;
    /*background-color: #303f9f;*/
}

body {
    background-color: #ffffff;
}

footer.page-footer {
    padding-top: 0;
}

.firstcol {
    padding-left: 1em;
}

nav {
    margin-bottom: 1em;
}

.nav-wrapper,
.page-footer {
    padding-left: 1em;
    padding-right: 1em;
}

#modal-info tr td:nth-child(2n+1) {
    font-weight: bold;
}

footer.page-footer {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
}

/***************************/
/*     Utility classes     */
/***************************/
.c-badge {
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: #757575;
    right: 15px;
    box-sizing: border-box;
}

.u-new {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
}

.u-badge-nieuw {
    background-color: #ee6e73 !important;
}

.u-badge-toegewezen {
    background-color: #03a9f4 !important;
}

.u-badge-opgepakt {
    background-color: #ffb300 !important;
}

.u-badge-feedback {
    background-color: #ba68c8 !important;
}

.u-badge-afgerond {
    background-color: #4caf50 !important;
}

.u-badge-gesloten {
    background-color: #757575 !important;
}

.u-modal-link {
    cursor: pointer;
    padding: 0.5em;
}

.u-capitalize {
    text-transform: capitalize;
}

.u-w25 {
    width: 25%;
}

.u-w50 {
    width: 50%;
}

.u-w75 {
    width: 75%;
}

.u-w100 {
    width: 100%;
}

/*************************/
/*     Miscellaneous     */
/*************************/

/* This is the hidden input, to prevent bots from registering */
/* Additionally we could use a captcha in our register form   */
#favorite_pizza {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.input-field div.error {
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color: #F44336;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}